<div class="navbar-expand mb-1">
    <nav class="navbar navbar-expand-lg bg-color shadow-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold text-primary" href="/index">
                <img src="/images/logo/logo.svg" alt="message chat" class="logo">
            </a>
            <ul class="navbar-nav navbar-row mx-2">
                <img class="img-profile rounded-circle shadow border-1" src="/images/avatar.png">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Vien Hoang Long </a>
                   
                    <ul class="dropdown-menu dropdown-menu-end bg-message" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item text-color">
                                <div id="dark-mode-toggle" class="dark-mode-toggle">
                                    <i class="fas fa-adjust"></i>
                                    <span class="form-check-label" for="dark-mode"> Dark mode</span>
                                </div>
                            </a>
                        </li>
                        <li><a class="dropdown-item text-color" href="/profile"><i class="fas fa-user"></i>  Profile</a></li>
                        <li><a class="dropdown-item text-color" href="#"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>