* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --bg-color: #f8f8f8;
  --green-color: #08b295;
  --blue-color: #0d6efd;
  --orange-color: #ff9800;
  --gray-color: #5a6474;
  --light-color: #ffffff;
  --bg-white: #ffffff;
  --text-color: #000;
  --bg-message: #f8f9fa;
  --bg-hover: #ced4da;
  --bg-scrollbar-track: #ddd;
  --bg-scrollbar-thumb: #666;
}
.darkmode {
  --bg-color: #1a1926;
  --green-color: #08b295;
  --blue-color: #0d6efd;
  --orange-color: #ff9800;
  --gray-color: #fff;
  --light-color: #1d1d2a;
  --bg-white: #201f2c;
  --text-color: #fff;
  --bg-message: #242434;
  --bg-hover: #1a1926;
  --bg-scrollbar-track: #1d1d2a;
  --bg-scrollbar-thumb: #3d3d53;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color) !important;
  font-family: "DM Sans", sans-serif !important;
  color: var(--text-color) !important;
}
.bg-color {
  background-color: var(--bg-color) !important;
}
.bg-color-white {
  background-color: var(--bg-white) !important;
}
.bg-message {
  background-color: var(--bg-message) !important;
}
.bg-button {
  background-color: var(--text-color) !important;
}
.text-color {
  color: var(--gray-color) !important;
}
.action-now {
  color: var(--green-color);
}
.navbar-row {
  flex-direction: row !important;
}
.dropdown-menu {
  position: absolute !important;
}

.img-profile {
  height: 45px;
  width: 45px;
}
#dark-mode {
  cursor: pointer;
}
.media {
  display: flex;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.logo {
  margin-left: 10px;
  height: 30px;
  border-radius: 0;
}
.avatar {
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 15px;
}
.avatar-chats {
  width: 55px;
  height: 55px;
  position: relative;
  margin-right: 15px;
}
.avatar-info {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}
.status-online {
  background-color: var(--green-color) !important;
}
.status-offline {
  background-color: var(--gray-color);
}
.status-just-off {
  background-color: var(--orange-color);
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
.status-circle-info {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
.container-fluid {
  padding-right: 0px !important;
}
.bd-radius {
  border-radius: 8px !important;
}
.chats {
  padding: 12px;
  overflow-y: auto;
  height: 60vh;
}
.search-chats {
  padding-right: 18px;
}
.btn-chats {
  color: var(--green-color);
}
.btn-chats:hover {
  color: var(--blue-color);
}
.inbox {
  position: relative;
}
.more-options {
  position: absolute;
  right: 15px;
}
.chat-content {
  overflow-y: auto;
  max-height: 69vh;
}
.message-content {
  padding: 0.75rem;
}
.border-chats {
  border-radius: 8px;
}
.chat-content > div {
  width: 80%;
}
.btn-more:hover {
  background-color: var(--light-color);
  border-radius: 8px;
}
.card-chat:hover {
  background-color: var(--light-color);
}

.picture-more {
  max-width: 100px;
  max-height: 100px;
  border-radius: 0;
  margin-bottom: 5px;
}
.video-more {
  height: auto;
  max-width: 100px;
}
.modal-content {
  background-color: var(--bg-color) !important;
}
.dropdown-item:hover {
  background-color: var(--bg-hover) !important;
}
/* Scrollbar */
.chat-content::-webkit-scrollbar,
.chats::-webkit-scrollbar {
  width: 8px;
}
.chat-content::-webkit-scrollbar-thumb,
.chats::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar-thumb);
  border-radius: 8px;
}
.chat-content::-webkit-scrollbar-track,
.chats::-webkit-scrollbar-track {
  background-color: var(--bg-scrollbar-track);
  border-radius: 10px;
}
