:root {
  --bg-color: #f8f8f8;
  --green-color: #08b295;
  --dark-color: #5a6474;
}
body {
  background-color: var(--bg-color);
  font-family: "DM Sans", sans-serif !important;
}
.bg-color {
  background-color: var(--bg-color);
}
.navbar-row {
  flex-direction: row !important;
}
.dropdown-menu {
  position: absolute !important;
}

.img-profile {
  height: 45px;
  width: 45px;
}
#dark-mode {
  cursor: pointer;
}
.media {
  display: flex;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.avatar {
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 15px;
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--green-color);
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
.bd-radius {
  border-radius: 8px !important;
}
.chats {
  padding: 24px;
}
.search-chats {
  padding: 12px;
}
