<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Change password</title>
</head>
<body class="body-forgot">
    <div class="wrapper">
        <div class="container-fluid container-change">
            <div class="card shadow p-3 rounded-fill forgot-bg">
                <form action="" class="forgot" method="post">
                        <h3 class="title-forgot text-center text-color">Change Password</h3>
                        <p class="text-center text-color">You can create new password here.</p>
                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                        </div>
                        <div class="form-group">
                            <input class="input-change ps-3" type="password" placeholder="Enter your new password" id="newpassword" name="newpassword"/>
                            <span class="field-icon"><i class="fa-solid fa-eye-slash" id="toggleNewPassword"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="reapeatpassword">Reapeat Password</label>
                        </div>
                        <div class="form-group">
                            <input class="input-change" type="password" placeholder="Enter your reapeat password" id="reapeatpassword" name="reapeatpassword"/>
                            <span class="field-icon"><i class="fa-solid fa-eye-slash" id="toggleReapeatPassword"></i></span>
                        </div>
                        <div class="form-group text-center">
                            <% if (msgChange.length > 0) { %>
                                <span class="text text-danger"><%= msgChange %></span>
                            <% } %>
                        </div>
                        <button type="submit" class="button-forgot">Change Password</button>
                </form>
                <a class="text-center a-forgot" href="/forgot"><i class="fa-solid fa-arrow-left me-3 mt-2"></i> Back</a>
            </div>
        </div>
    </div>
     <!-- Scripts -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
     <script src="/javascripts/main.js"></script>
     <!-- Scripts -->
</body>
</html>