<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <div class="navbar-expand mb-1">
            <nav class="navbar navbar-expand-lg bg-color shadow-sm sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold text-primary" href="/index">
                        <img src="/images/logo/logo.svg" alt="message chat" class="logo">
                    </a>
                    <ul class="navbar-nav navbar-row mx-2">
                        <img class="img-profile rounded-circle shadow border-1" src="/images/avatar.png">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold text-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Vien Hoang Long </a>
                           
                            <ul class="dropdown-menu dropdown-menu-end bg-message" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-color">
                                        <div id="dark-mode-toggle" class="dark-mode-toggle">
                                            <i class="fas fa-adjust"></i>
                                            <span class="form-check-label" for="dark-mode"> Dark mode</span>
                                        </div>
                                    </a>
                                </li>
                                <li><a class="dropdown-item text-color" href="/profile"><i class="fas fa-user"></i>  Profile</a></li>
                                <li><a class="dropdown-item text-color" href="#"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Navbar -->
        <div class="container-fluid row">
            <!-- Chats -->
            <div class="col-3 bg-color">
                <div class="p-3">
                    <h4 class="fw-bold mb-0">Chats</h4>
                </div>
                <div class="input-group search-chats">
                    <div class="input-group-append">
                        <button class="btn bg-white border border-end-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input type="search" class="form-control border-start-0 border" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                </div>
                <div class="row ms-2 mt-3">
                    <h5>Friends</h5>
                </div>
                <div class="row chats">
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-offline'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-just-off'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-chat bd-radius shadow-sm mb-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0">
                                    <img src="/images/avatar.png" class="img-profile" alt="...">
                                    <div class='status-circle status-online'></div>
                                </div>
                                <div class="flex-grow-1 ms-3 overflow-hidden">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="text-truncate mb-0">Nguyen Cong Hau</h6>
                                        <span class=" text-muted text-nowrap ml-4">10:38 am</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <span class="text-truncate">I’m sorry, this question would be out of my expertise.</span>
                                        <span class="badge bg-primary rounded-pill">9+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- Chats-->
            <!--  -->
            <!-- Content chats -->
            <div class="col bg-color-white">
               <div class="border-bottom d-flex inbox">
                    <div class="avatar-chats flex-shrink-0">
                        <img src="/images/friend.png" class="img-friend" alt="...">
                        <div class='status-circle status-online'></div>
                    </div>
                    <div class="">
                       <h6>Tran Hoang Long</h6>
                       <span class="action-now">Online</span>
                    </div>
                    <div class="more-options">
                       <button type="button" class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-phone"></i></button>
                       <button type="button" class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-video"></i></button>
                       <button type="button" class="bg-color-white border-0 btn-lg btn-chats btn-information"><i class="fas fa-info-circle"></i></button>
                    </div>
               </div>
               <div>
                <div class="input-group d-none" id="search-chats">
                    <div class="input-group-append">
                        <div class="btn bg-white border border-end-0">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="search" class="form-control border-start-0 border" placeholder="Search for messages..." aria-label="Search for messages">
                    <div class="input-group-append" id="close-search">
                        <button class="btn bg-white border border-start-0">
                            <i class="fas fa-close"></i>
                        </button>
                    </div>
                </div>
               </div>
               <div class="chat-content">
                    <div class="d-flex p-3">
                        <a class="avatar" href="#" >
                            <img class="img-chats" src="/images/friend.png" alt="">
                        </a>   
                        <div class="message-row">
                            <div class="d-flex align-items-center">
                                <div class="message-content bg-message border-chats">
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis sunt numquam vel repellendus id adipisci doloremque, sapiente tempore repudiandae recusandae quidem rem nam possimus ea mollitia incidunt temporibus blanditiis.</div>
                                    <div class="mt-1">
                                        <small class="opacity-75">8 mins ago</small>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="opacity-75 ml-3 text-dark" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="text-color fas fa-ellipsis-v p-3"></i>
                                    </a>
                                    <ul class="dropdown-menu bg-message" aria-labelledby="dropdownMenuLink">
                                        <li> 
                                            <a class="dropdown-item text-color" href="#">
                                                <i class="fas fa-edit"></i>  Edit 
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-color" href="#">
                                                <i class="fas fa-share"></i> Share
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-color" href="#">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="d-flex p-3 float-end">
                        <div class="message-row">
                            <div class="d-flex align-items-center text-end">
                                <div class="dropdown">
                                    <a class="text-dark opacity-75 ml-3" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="text-color fas fa-ellipsis-v p-3"></i>
                                    </a>
                                    <ul class="dropdown-menu bg-white" aria-labelledby="dropdownMenuLink">
                                        <li> 
                                            <a class="dropdown-item" href="#">
                                              <i class="fas fa-edit"></i>  Edit 
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-share"></i> Share
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div> 
                                <div class="message-content bg-primary text-white border-chats">
                                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quasi molestias architecto voluptatibus ad quis ea ratione, eum in amet, molestiae nostrum dolorem dignissimos quo doloremque dolorum reiciendis fuga consequuntur.</div>
                                    <div class="mt-1 ">
                                        <small class="opacity-65">8 mins ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="avatar avatar-user" href="#">
                            <img class="img-chats" src="/images/avatar.png" alt="">
                        </a>   
                    </div>
                    <div class="d-flex p-3">
                        <a class="avatar mr-4 mr-lg-5" href="#" >
                            <img class="img-chats" src="/images/friend.png" alt="">
                        </a>
                        <div class="">
                            <div class="message-row">
                                <div class="d-flex align-items-center">
                                    <div class="message-content bg-message border-chats">
                                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis sunt numquam vel repellendus id adipisci doloremque, sapiente tempore repudiandae recusandae quidem rem nam possimus ea mollitia incidunt temporibus blanditiis.</div>
                                        <div class="mt-1">
                                            <small class="opacity-65">8 mins ago</small>
                                        </div>
                                    </div>
                
                                    <div class="dropdown">
                                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="text-color fas fa-ellipsis-v p-3"></i>
                                        </a>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex p-3">
                        <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" >
                            <img class="img-chats" src="/images/friend.png" alt="">
                        </a>
                        <div class="">
                            <div class="message-row">
                                <div class="d-flex align-items-center">
                                    <div class="message-content bg-message border-chats">
                                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis sunt numquam vel repellendus id adipisci doloremque, sapiente tempore repudiandae recusandae quidem rem nam possimus ea mollitia incidunt temporibus blanditiis.</div>
                                        <div class="mt-1">
                                            <small class="opacity-65">8 mins ago</small>
                                        </div>
                                    </div>
                
                                    <div class="dropdown">
                                        <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="text-color fas fa-ellipsis-v p-3"></i>
                                        </a>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="message border-top col">
                    <div class="message-content input-group">
                        <button type="button" class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-plus"></i></button>
                        <button type="button" class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-image"></i></button>
                        <button type="button" class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-microphone"></i></button>
                        <textarea id="textarea" class="form-control rounded-3 text-truncate bg-color-white text-color" placeholder="Type your message..." rows="1" data-autosize="true"></textarea>
                        <button type="button" id="btn-emoji" class="bg-color-white border-0 btn-lg btn-chats" ><i class="fas fa-smile"></i></button>
                        <button type="button"class="bg-color-white border-0 btn-lg btn-chats"><i class="fas fa-paper-plane"></i></button>
                    </div>
               </div>
            </div>
            <!-- Content chats -->
            <!--  -->
            <!-- Tongle more info -->
            <div class="col-3 d-none" id="more-option-area">
                <div class="text-center mt-3 border-bottom">
                    <div class="avatar-info">
                        <img src="/images/friend.png"  alt="...">
                        <div class='status-circle-info status-online'></div>
                    </div>
                    <div class="mt-4 mb-4">
                        <h5>Tran Hoang Long</h5>
                    </div>
                </div>
                <div class="mt-4 btn-more">
                    <div class="btn d-flex justify-content-between align-items-center text-color" id="search_chats">
                        <span>Search in conversation</span>
                        <i class="fas fa-search"></i>
                    </div>   
                </div>
                <div class="mt-4 btn-more">
                    <div class="btn  d-flex justify-content-between align-items-center text-color" data-bs-toggle="collapse" href="#media_more" role="button" aria-expanded="false" aria-controls="media_more">
                        <span>Photos & Video</span>
                        <i class="fas fa-image"></i>
                    </div>   
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="media_more">
                      <div class="card card-body bg-color">
                        <div class="d-flex justify-content-between mb-1">
                            <span>Photos</span>
                            <a>See all</a>
                        </div>
                        <div class="text-center">
                            <img src="/images/img1.jpeg" class="picture-more">
                            <img src="/images/img1.jpeg" class="picture-more">
                            <img src="/images/img1.jpeg" class="picture-more">
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <span>Videos</span>
                            <a>See all</a>
                        </div>
                        <div class="text-center">
                            <video src="/videos/beach.mp4" class="video-more" controls></video>
                            <video src="/videos/beach.mp4" class="video-more" controls></video>
                            <video src="/videos/beach.mp4" class="video-more" controls></video>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="mt-4 btn-more"  data-bs-toggle="modal" data-bs-target="#delete_chats">
                    <div class="btn d-flex justify-content-between align-items-center text-color">
                        <span>Mute notifications</span>
                        <i class="fas fa-bell"></i>
                    </div>   
                </div>
                <div class="mt-4 btn-more" data-bs-toggle="modal" data-bs-target="#block_friend">
                    <div class="btn d-flex justify-content-between align-items-center text-color">
                        <span>Block friend</span>
                        <i class="fas fa-ban"></i>
                    </div>   
                </div>
            </div>
             <!-- Tongle more info -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="block_friend" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Block friend</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6 class="text-center">Are you sure you want to block this friend?</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="delete_chats" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete chats</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6 class="text-center">Are you sure you want to delete this chat?</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
        </div>
        <!-- Modal -->
    </div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <!-- Scripts -->
</body>
</html>